
@font-face {
font-family: Wisdom-Script;
src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

h1, h3, h4 {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
	word-spacing: 1px;
}

h1 {
	font-size: 30px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 25px;
	padding: 0 30px;
}

header {
	height: 110px;
	margin: 0 auto;
}

header h1 {
	float: left;
	margin: 0;
	padding: 30px;
}

header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 46px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	color: #77a466;
	display: inline;
	font-size: 14px;
	font-weight: 700;
	padding: 0 10px;
	text-transform: uppercase;
}

header nav ul li a {
	 color: #77a466;
	text-decoration: none;
}

.top-section,
.bottom-section {
	clear: both;
	margin: 0 auto;
}

.main-image {
	float: left;
	height: auto;
}

.main-image img {
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;
}

.main-title h3 {
	color: #77a466;
	padding: 5px 0;
	text-align: left;
}

.main-title p {
	font-size: 16px;
	line-height: 25px;
	padding: 5px 0;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #dedbdc;
	float: left;
	height: auto;
	width: 399px;
}

.section-one h4 {
	padding: 0 10px;
}

.section-two {
	border-left: 1px solid #dedbdc;
	border-right: 1px solid #dedbdc;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	color: #77a466;
	padding: 10px 0;
	word-spacing: 2px;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}

footer {
	border-top: 1px solid #dedbdc;
	clear: both;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	
}
