legend {
	font-size: large;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #603813;
	font-style: normal;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
}
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #603813;
	margin-left: 15px;
}
fieldset {
	border: thick ridge #f50136;
	padding: 10px;
}
