#header {
	margin-left: 20%;
	margin-right: 20%;
	width: 778px;
	padding: 0px;
	margin-top: 0px;
}
#mainContent {
	background-color: #FCF;
	width: 778px;
	padding:0px;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 0px;
	
}
#mainContent .answer {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #603813;
	margin: 5px;
	padding: 15px;
}
#mainContent .answer a{
	text-decoration:none;
}
#mainContent .answer a:link {
	color: #603813;
	font-weight:bold;
}
#mainContent .answer a:visited {
	color:#46290e;
	font-weight:bold;
	}
#mainContent .answer a:focus, a:hover {
	color: #6d3f16;
	font-weight:bold;
}
#mainContent .answer a:active {
	color: #e8a2f;
	font-weight:bold;
}
#mainContent h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #603813;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#navigation {
}
#mainContent h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #603813;
	margin: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#mainContent h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #603813;
	margin: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#mainContent p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #603813;
	margin: 5px;
	padding: 10px;
}
#navigation {
	margin-right: 10%;
	margin-left: 20%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

 #footer { 
	background-color: #FCF;
	width: 778px;
	margin-right: 10%;
	margin-left: 20%;
	
} 
 #footer p {
	margin: 0;
	padding: 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #603813;
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
